
<div class="center jumbotron mt-5 mb-5">
  <div class="container">
    <div class="centerfy">
      <h1 class="mt-3">Word Count Rating Widget</h1>
      <article contenteditable="">
      <h2>Heading</h2>
      <p>Lorem Ipsum, Lorem Ipsum Lorem Ipsum. Lorem Ipsum Lorem Ipsum is Lorem Ipsum
      </p>
      <word-count></word-count>
      </article>
    </div>
  </div>
</div>